@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);
	.bg-#{$name} {
		background-color: $color;
	}
	.color-#{$name} {
		color: $color;
	}
}


.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}