//------- Fonts
$font-primary:  'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


//------- Colors
$black: #000;
$white: #fff;
$orange: #fd961a;

$dark-gray-100: #1d1d1d;
$dark-gray-200: #111;

$light-gray-100: #999;

$site-colors: (
	'black': $black,
	'white': $white,
	'dark-gray-100': $dark-gray-100,
	'dark-gray-200': $dark-gray-200
) !default;

//-------Bootstrap Grid Breakpoints

$grid-columns: 12;
$grid-gutter-width: 30px;
$enable-grid-classes: true !default;

$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 576px,
	// Medium screen / tablet
	md: 768px,
	// Large screen / desktop
	lg: 992px,
	// Extra large screen / wide desktop
	xl: 1200px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1170px
);
