<section class="blog">
	<div class="container">
		<div class="row">
			<div class="col text-center mb-30">
				<h2 class="h2">{{{blog.heading}}}</h2>
				<p class="text-subtitle">{{blog.description}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="blog-card h-100">
					<a href="#">
						<img class="blog-card__img" src="assets/img/content/blog-post-1.jpg" alt="">
					</a>
					<h4 class="h4">
						<a href="#">
							How Cryptocurrency Begun and Its Impact To Financial Transactions</h4>
						</a>
					<p class="mb-30">incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
					<a class="btn btn--primary" href="#">Read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="blog-card h-100">
					<a href="#">
						<img class="blog-card__img" src="assets/img/content/blog-post-2.jpg" alt="">
					</a>
					<h4 class="h4">
						<a href="#">
							Cryptocurrency - Who Are Involved With It? Words about members</h4>
						</a>
					<p class="mb-30">incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
					<a class="btn btn--primary" href="#">Read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="blog-card d-flex flex-column align-self-stretch h-100">
					<a href="#">
						<img class="blog-card__img" src="assets/img/content/blog-post-3.jpg" alt="">
					</a>
					<h4 class="h4">
						<a href="#">
							Cryptocurrency - Who Are Involved With It? Words about members</h4>
						</a>
					<p class="mb-30">incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
					<a class="btn btn--primary" href="#">Read more</a>
				</div>
			</div>
		</div>
	</div>
</section>