
	<footer class="footer bg-dark-gray-300">
		<div class="footer-top mb-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-12">
						<div class="footer-top-box">
							<h6>our company</h6>
							<ul class="footer-list">
								<li class="footer-list__link"><a href="javascript:;">home</a></li>
								<li class="footer-list__link"><a href="javascript:;">about</a></li>
								<li class="footer-list__link"><a href="javascript:;">services</a></li>
								<li class="footer-list__link"><a href="javascript:;">pricing</a></li>
								<li class="footer-list__link"><a href="javascript:;">blog</a></li>
								<li class="footer-list__link"><a href="javascript:;">contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-12">
						<div class="footer-top-box">
							<h6>help &nbsp; support</h6>
							<ul class="footer-list">
								<li class="footer-list__link"><a href="javascript:;">faq</a></li>
								<li class="footer-list__link"><a href="javascript:;">terms of services</a></li>
								<li class="footer-list__link"><a href="javascript:;">404</a></li>
								<li class="footer-list__link"><a href="javascript:;">register</a></li>
								<li class="footer-list__link"><a href="javascript:;">login</a></li>
								<li class="footer-list__link"><a href="javascript:;">coming soon</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12">
						<div class="footer-top-box">
							<h6>contact us</h6>
							<ul class="footer-list">
								<li class="footer-list__link"><a href="javascript:;">contact@website.com</a></li>
								<li class="footer-list__link"><a href="javascript:;">00216 21 184 010</a></li>
								<li class="footer-list__link"><a href="javascript:;">London, England</a></li>
								<li class="footer-list__link"><a href="javascript:;">mon-sat 08am ⇾ 05pm</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 col-md-12">
						<div class="footer-top-facts d-flex flex-wrap mb-20">
							<div class="mb-20">	
								<h5>198.76B</h5>
								<p>market cap</p>
							</div>
							<div class="mb-20">	
								<h5>234K</h5>
								<p>daily transactions</p>
							</div>
							<div>	
								<h5>369K</h5>
								<p>active accounts</p>
							</div>
							<div>	
								<h5>127</h5>
								<p>supported countries</p>
							</div>
						</div>
						<div class="footer-top-cards">
							<h6>supported payment methods</h6>
							<img src="assets/img/content/icons/payment/american-express.png" alt="">
							<img src="assets/img/content/icons/payment/mastercard.png" alt="">
							<img src="assets/img/content/icons/payment/visa.png" alt="">
							<img src="assets/img/content/icons/payment/paypal.png" alt="">
							<img src="assets/img/content/icons/payment/maestro.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom text-center color-light-gray-100">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="footer-bottom__text">made with love</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="{{assets}}/js/main.js"></script>
</body>
</html>
