<section class="registration-banner set-relative">
	<div class="bg-overlay"></div>
	<div class="registration-banner-box text-center">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3">{{registrationBanner.heading}}</h3>
					<p class="text-subtitle mb-30">{{registrationBanner.text}}</p>
					<a href="#" class="btn btn--primary">Register now</a>
				</div>
			</div>
		</div>
	</div>
</section>