h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 , .h5 , .h6 {
	color: $white;
	text-transform: uppercase;
	font-family: $font-primary;
}

h1, .h1 {
	font-size: 68px;
	line-height: 78px;
	margin-bottom: 30px;
	font-weight: bold;
}

h2, .h2 {
	font-size: 45px;
	margin-bottom: 15px;
	line-height: 45px;
	font-weight: 900;
}

h3, .h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 900;
	margin-bottom: 23px;
}

h4, .h4 {
	font-size: 18px;
	line-height: 28px;
	margin: 20px 0 10px;
	font-weight: bold;
	text-transform: capitalize;
}

h5, .h5 {
	font-size: 23px;
	font-weight: 900;
	color: $orange;
}

h6, .h6 {
	color: $orange;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}


a {
	color: $white;
	@include hover {
		color: $orange;
		transition: all .3s;
	}
}

.text-important {
	color: $orange;
	font-weight: 900;
}

.text-subtitle{
	text-transform: uppercase;
	margin-bottom: 25px;
	position: relative;
	line-height: 28px;
	position: relative;
}

.heading-block  {

	&::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 60px;
		background-color: $orange;

		@include absolute-center();

		@include for-small-screen {
			display: none;
		}
	}
}
